version: "3.8"
services:
  borusa-presentations:
    image: borusa-presentations:latest
    networks:
      - borusa
    configs:
      - source: presentations_env
        target: /app/.env
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        order: start-first
      rollback_config:
        parallelism: 1
        delay: 5s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.borusa-presentations.rule=Host(`sp.borusa.com.br`)"
        - "traefik.http.routers.borusa-presentations.entrypoints=websecure"
        - "traefik.http.routers.borusa-presentations.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.borusa-presentations.loadbalancer.server.port=3000"
        - "traefik.http.routers.borusa-presentations-http.rule=Host(`sp.borusa.com.br`)"
        - "traefik.http.routers.borusa-presentations-http.entrypoints=web"
        - "traefik.http.routers.borusa-presentations-http.middlewares=redirect-to-https"
        - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
        - "traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=true"
        - "traefik.http.middlewares.compress.compress=true"
        - "traefik.http.routers.borusa-presentations.middlewares=compress"
        - "traefik.http.middlewares.security-headers.headers.frameDeny=true"
        - "traefik.http.middlewares.security-headers.headers.contentTypeNosniff=true"
        - "traefik.http.middlewares.security-headers.headers.browserXssFilter=true"
        - "traefik.http.middlewares.security-headers.headers.stsSeconds=31536000"
        - "traefik.http.middlewares.security-headers.headers.stsIncludeSubdomains=true"
        - "traefik.http.middlewares.security-headers.headers.stsPreload=true"

configs:
  presentations_env:
    file: /root/borusa-sales-presentations/.env

networks:
  borusa:
    external: true
